/* CSS Document */

body{
			font-family:"³ª´®°íµñ";
			font-size:13px;
			margin:0px;
			padding:0px;
}

.under_border{
		border-bottom-color:#CCCCCC;
		border-bottom-width:1px;
		border-bottom-style:solid;
	
}

.check_menu{
		float:left;
		width:80px;
		border-width:1px;
		border-color:#eeeeee;
		border-style:solid;
		border-collapse:collapse;
		height:20px;
		line-height:20px;
}
.check_menu_bottom{
		float:left;
		width:80px;
		border-width:1px;
		border-color:#eeeeee;
		border-style:solid;
		border-collapse:collapse;
		height:30px;
		line-height:30px;
}
.check_null{
		float:left;
		width:40px;
}
.date_span{
		border-width:1px;
		border-color:#000000;
		border-style:solid;
		border-collapse:collapse;
}

.half_title{
		font-size:14px;
				
}
.half_box{
		float:left;
		height:25px;
		line-height:25px;
		margin-right:30px;
}
.value_td{
		padding-left:65px;
}