/* CSS Document */

	body{
		margin:0px;
		padding:0px;
		text-align:center;
		font-family:"³ª´®°íµñ"
	}
	.logo{
		text-align:left;
		height:30px;
		width:1280px;
		margin-top:10px;
	}	
	.menu{
		height:100px;
		width:1280px;
		margin-top:5px;
	}
	.main{
		width:900px;
		border-collapse:collapse;
		height:900px;
	}
	.user{
		width:376px;
		border-collapse:collapse;
		border-left-style:ridge;
		border-left-width:1px;

	}
	.bottom{
		height:60px;
		width:1280px;
		border-collapse:collapse;
	}
	iframe{
		border-width:0px;
		width:100%;
		height:100%;
	}
	.login{
		font-size:9px;
		font-family:"³ª´®°íµñ";
	}
	.login_text{
		margin-left:15px;
	}
	.cal_border{
		text-align:center;
		cursor:pointer;
		width:70px;
		float:left;
		margin-left:10px;
		border-width:1px;
		border-color:#212121;
		border-style:solid;
	}
	.cal_text{
		font-size:12px;
		font-family:"³ª´®°íµñ";
		width:40px;
		float:left;
		height:70px;
		background-color:#CFD8DC;
		border-left-width:1px;
		border-right-width:1px;
		border-left-style:solid;
		border-right-style:solid;
		border-left-color:#FFFFFF;
		border-right-color:#FFFFFF;
		margin-bottom:5px;
	}
	.href_cal{
		cursor:pointer;
		font-size:12px;
		font-family:"³ª´®°íµñ";
		width:40px;
		float:left;
		height:70px;
		background-color:#ECEFF1;
		border-left-width:1px;
		border-right-width:1px;
		border-left-style:solid;
		border-right-style:solid;
		border-left-color:#FFFFFF;
		border-right-color:#FFFFFF;
		margin-bottom:5px;
	}
	.href_today{
		background-color:#FFE082;
		cursor:pointer;
		font-size:12px;
		font-family:"³ª´®°íµñ";
		width:40px;
		float:left;
		height:70px;
		border-left-width:1px;
		border-right-width:1px;
		border-left-style:solid;
		border-right-style:solid;
		border-left-color:#FFFFFF;
		border-right-color:#FFFFFF;
		margin-bottom:5px;
	}
	.period_box{
		display:none;
		margin-bottom:10px;
		padding-bottom:10px;
		border-bottom-color:#CCCCCC;
		border-bottom-width:1px;
		border-bottom-style:solid;
	
	}
	.check_box{
		font-size:15px;
		font-family:"³ª´®°íµñ";
		width:40px;
		float:left;
		margin-right:10px;
		cursor:pointer;
		border-width:1px;
		border-color:#CCCCCC;
		border-style:solid;
	}
	.year_text_box{
		height:20px;
		line-height:20px;
		text-align:center;
		margin-right:10px;
		cursor:pointer;
		background-color:#FFFFFF;
	}
	.under_border_year{
		height:3px;
		background-color:#EF9A9A;
		margin-top:20px;
		display:none;
	}
	.under_border_half{
		height:3px;
		background-color:#90CAF9;
		margin-top:20px;
		display:none;
	}
	.under_border_public{
		height:3px;
		background-color:#A5D6A7;
		margin-top:20px;
		display:none;
	}
